{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptatum harum doloremque, dicta cumque fugiat!
    Ipsa ducimus nam tenetur! Voluptas odio sapiente nostrum, officiis repellat dignissimos provident delectus tempora
    quas reiciendis quidem minima dolorem cumque sed eum error esse accusantium iste. Molestiae sint aspernatur
    provident recusandae consequuntur distinctio quia cumque laborum dicta, impedit ullam doloremque ducimus, mollitia
    voluptate aperiam perferendis error incidunt nulla! Vero cum rerum nihil nesciunt voluptas eveniet quod, similique
    officia qui obcaecati! Corporis autem explicabo officia nesciunt? Obcaecati repellat ipsa quaerat molestiae.
    Mollitia minima quis modi rem ea, labore fugit officiis aperiam. Eos assumenda quod qui quia.</p>
{% endblock %}